body{

}

h1{
	text-align: center;
	margin-bottom: 50px;
}

#gif{
	border:2px solid black;
	display: block;
	width: 150px;
	border-radius: 20px;
	opacity: 0.5;
	transition: 0.25s ease-in-out;
	margin: 0 auto;
	display: inline-block

}

img:hover {
	opacity: 1;
}

#gif{
	width: 250px;
	height:225px	;
}
#button{
	margin:25px 50px;

}
#buttons{
	text-align: center;	 
}

p{
	display: block;
	text-align: center;
}

